body {
  font-family: "Exo", serif;
  background-color: rgb(207, 208, 208);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

table {
  justify-self: center;
  width: 80%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

table caption {
  color: rgb(101, 209, 91);
  font-size: 30px;
  font-weight: bold;
  margin: 10px 10px;
}

thead {
  background-color: rgb(101, 209, 91);
  color: white;
}

th, td {
  border: 1px solid rgb(255, 255, 255);
  padding: 8px;
  text-align: left;
}

tr:hover {
  background-color: rgb(168, 197, 165);
}